BasedOnStyle: LLVM
Language: C

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Right
DerivePointerAlignment: false

SortIncludes: false
IncludeBlocks: Preserve

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

BinPackParameters: false
BinPackArguments: false

AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakAssignment: 1000
PenaltyBreakComment: 1000

