.idea/
/.gradle-user/
/.config
build/
build-release/
build-kernel/
build-user/
build-*/
build_*/
cmake-build-debug/
*.o
*.ll
.DS_Store
/bios/bios.s
/bios/boot.bin
/bios/*.elf
/disk.img
/rootfs.ext4
/busybox-*/
/busybox-*.tar.*
/dist/
/docs/talk-kotlin-lampvm-debugger.md
